# 编译生成文件
build/
bin/
lib/
*.o
*.so
*.a
*.dll
*.exe
*.pdb
chat_server
chat_client

# IDE 文件
.vscode/

# 日志文件
*.log

# CMake 缓存
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# vcpkg 用户配置
CmakeUserPresets.json

# 账号信息
config/users.json